altgraph==0.17
auto-py-to-exe==2.6.6
bottle==0.12.18
bottle-websocket==0.2.9
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Eel==0.11.0
Flask==1.1.1
Flask-Login==0.4.1
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
greenlet==0.4.15
httplib2==0.15.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.1.0
pefile==2019.4.18
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDrive==1.3.1
PyInstaller==3.6
pyOpenSSL==19.1.0
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.2
requests==2.22.0
rsa==4.0
six==1.13.0
tqdm==4.43.0
uritemplate==3.0.1
urllib3==1.25.7
Werkzeug==0.16.0
whichcraft==0.6.1
